#pf2e-token-hud {
    .sidebar.items {
        .sidebar-content {
            .hover-content {
                display: block;
            }

            .hud-wealth,
            .hud-bulk {
                display: flex;
                align-items: center;
                padding-inline: var(--inline-padding);
            }

            .hud-wealth {
                justify-content: space-between;
                text-transform: uppercase;

                > * {
                    display: flex;
                    gap: 0.3em;
                }
            }

            .hud-bulk {
                padding-right: 0;
                gap: 0.3em;

                .over-max {
                    color: #890000;
                }

                .slider {
                    flex: 1;
                    background-color: #00000073;
                    height: 1em;
                    position: relative;
                    border-radius: 2px;
                    display: flex;
                    padding-inline: 3px;
                    justify-content: space-between;
                    align-items: center;

                    .filler {
                        height: 100%;
                        background-color: #4451c9;
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: 2px;
                        z-index: -1;
                    }

                    .left,
                    .right {
                        color: white;
                        font-size: 0.86em;
                        white-space: nowrap;
                    }
                }
            }

            .category {
                > * {
                    break-inside: avoid;
                }

                .header {
                    text-align: center;
                }

                .item {
                    .details {
                        .extras {
                            gap: 1em;

                            .infos {
                                height: 100%;
                                display: flex;
                                align-items: center;
                                gap: 10px;

                                .quantity {
                                    height: 100%;

                                    input {
                                        width: 4ch;
                                    }
                                }

                                .bulk {
                                    display: flex;
                                    align-items: center;
                                    gap: 3px;
                                    padding-top: 2px;

                                    i {
                                        font-size: 0.9em;
                                    }

                                    span {
                                        font-size: 0.86em;
                                    }
                                }

                                .container {
                                    margin-top: 1px;
                                }

                                .temporary {
                                    font-size: 0.86em;
                                    margin-top: 2px;
                                }
                            }

                            .actions {
                                margin-top: 1px;
                                font-size: 0.95em;
                                display: grid;
                                grid-auto-flow: column;
                                grid-auto-columns: 1.1em;
                                align-items: center;
                                justify-items: center;
                                align-content: center;

                                .held {
                                    font-size: 1.3em;
                                    position: relative;
                                    margin-top: 3px;
                                    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 87%, 0 0);

                                    i {
                                        position: absolute;
                                        color: white;
                                        font-size: 0.5em;
                                        left: 0.7em;
                                        top: 0.5em;
                                    }
                                }

                                .worn {
                                    font-size: 0.94em;
                                }

                                a.disabled {
                                    pointer-events: none;
                                }
                            }
                        }
                    }

                    &.subitem,
                    &.in-container {
                        font-size: 0.86em;

                        .sub-spacer {
                            position: relative;
                            width: var(--space-10);

                            &::before,
                            &::after {
                                border-left: 1px solid var(--color-pf-alternate);
                                content: '';
                                height: calc(50% + var(--box-margin));
                                left: 2px;
                                position: absolute;

                                width: var(--space-5);
                            }

                            &:not(.straight)::before {
                                border-bottom: 1px solid var(--color-pf-alternate);
                            }

                            &::before {
                                top: calc(-1 * var(--box-margin) - 1px);
                            }

                            &::after {
                                top: calc(50% - var(--box-margin));
                            }
                        }
                    }
                }
            }
        }
    }
}
