#pf2e-token-hud .sidebar.hazard .sidebar-content hr {
  margin: 0;
}
#pf2e-token-hud .sidebar.hazard .sidebar-content .tags {
  display: flex;
  gap: 1px;
  margin: 0;
  padding-inline: var(--inline-padding);
}
#pf2e-token-hud .sidebar.hazard .sidebar-content .initiative {
  display: flex;
  align-items: center;
  gap: 0.2em;
  padding-inline: var(--inline-padding);
}
#pf2e-token-hud .sidebar.hazard .sidebar-content .section .header {
  text-align: center;
}
#pf2e-token-hud .sidebar.hazard .sidebar-content .section .content {
  padding-inline: var(--inline-padding);
}
#pf2e-token-hud .sidebar.hazard .sidebar-content .section .action {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 2px;
  height: 1.4em;
  padding-inline: var(--inline-padding);
}
#pf2e-token-hud .sidebar.hazard .sidebar-content .section .action:hover {
  --hover-background: rgb(0 0 0 / 5%);
  background-color: var(--hover-background);
}
#pf2e-token-hud .sidebar.hazard .sidebar-content .section .action:hover .icon img {
  background-color: var(--hover-background);
}
#pf2e-token-hud .sidebar.hazard .sidebar-content .section .action .icon {
  height: 100%;
}
#pf2e-token-hud .sidebar.hazard .sidebar-content .section .action .icon img {
  height: 100%;
  border: 0;
  mix-blend-mode: color-burn;
}
#pf2e-token-hud .sidebar.hazard .sidebar-content .section .action .name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#pf2e-token-hud .sidebar.hazard .sidebar-content .section .action .chat {
  margin-top: 2px;
  font-size: 0.9em;
}