#pf2e-token-hud .sidebar.hazard .sidebar-content hr {
  margin: 0;
}
#pf2e-token-hud .sidebar.hazard .sidebar-content .tags {
  display: flex;
  gap: 1px;
  margin: 0;
  padding-inline: var(--inline-padding);
}
#pf2e-token-hud .sidebar.hazard .sidebar-content .initiative {
  display: flex;
  align-items: center;
  gap: 0.2em;
  padding-inline: var(--inline-padding);
}
#pf2e-token-hud .sidebar.hazard .sidebar-content .section .header {
  text-align: center;
}
#pf2e-token-hud .sidebar.hazard .sidebar-content .section .content {
  padding-inline: var(--inline-padding);
}