#pf2e-token-hud {
    .sidebar.spells {
        &.doubled {
            min-width: calc(var(--max-width) * 2);
        }

        .sidebar-content {
            .row {
                padding-inline: var(--inline-padding);
            }

            .entry {
                .header {
                    position: relative;
                    text-align: center;

                    .pips {
                        position: absolute;
                        top: 0;
                        right: 3px;
                        display: flex;
                        font-size: 0.86em;
                        height: 100%;
                    }
                }

                .spell {
                    > * {
                        z-index: 1;
                    }

                    .details {
                        .extras {
                            .type {
                                white-space: nowrap;
                                font-size: 0.9em;
                            }

                            .actions {
                                display: flex;
                                align-items: center;
                                gap: 4px;
                                color: #303030;
                                font-size: 0.96em;
                                height: 100%;

                                .uses {
                                    display: flex;
                                    align-items: center;
                                    height: 100%;

                                    input {
                                        &[type='number'] {
                                            width: 2ch;
                                        }

                                        &[type='text'] {
                                            width: 4ch;
                                        }
                                    }
                                }

                                .pips {
                                    margin-right: 3px;

                                    .pip {
                                        font-size: 0.9em;
                                        margin-top: 2px;
                                    }
                                }
                            }
                        }
                    }

                    &.expended {
                        .details {
                            .name {
                                color: var(--color-disabled);
                                text-decoration: line-through;
                            }
                        }
                    }

                    &.virtual {
                        position: relative;

                        &:before {
                            content: '';
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            background-color: rgb(0 5 255 / 7%);
                            pointer-events: none;
                        }
                    }

                    .description {
                        display: none;
                    }
                }
            }
        }
    }
}
