#pf2e-token-hud .sidebar.spells.doubled {
  min-width: calc(var(--max-width) * 2);
}
#pf2e-token-hud .sidebar.spells .sidebar-content .row {
  padding-inline: var(--inline-padding);
}
#pf2e-token-hud .sidebar.spells .sidebar-content .entry > * {
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}
#pf2e-token-hud .sidebar.spells .sidebar-content .entry .header {
  position: relative;
  text-align: center;
}
#pf2e-token-hud .sidebar.spells .sidebar-content .entry .header .pips {
  position: absolute;
  top: 0;
  right: 3px;
  display: flex;
  font-size: 0.86em;
  height: 100%;
}
#pf2e-token-hud .sidebar.spells .sidebar-content .entry .spell > * {
  z-index: 1;
}
#pf2e-token-hud .sidebar.spells .sidebar-content .entry .spell .details .extras .type {
  white-space: nowrap;
  font-size: 0.9em;
}
#pf2e-token-hud .sidebar.spells .sidebar-content .entry .spell .details .extras .actions {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #303030;
  font-size: 0.96em;
  height: 100%;
}
#pf2e-token-hud .sidebar.spells .sidebar-content .entry .spell .details .extras .actions .uses {
  display: flex;
  align-items: center;
  height: 100%;
}
#pf2e-token-hud .sidebar.spells .sidebar-content .entry .spell .details .extras .actions .uses input[type=number] {
  width: 2ch;
}
#pf2e-token-hud .sidebar.spells .sidebar-content .entry .spell .details .extras .actions .uses input[type=text] {
  width: 4ch;
}
#pf2e-token-hud .sidebar.spells .sidebar-content .entry .spell .details .extras .actions .pips {
  margin-right: 3px;
}
#pf2e-token-hud .sidebar.spells .sidebar-content .entry .spell .details .extras .actions .pips .pip {
  font-size: 0.9em;
  margin-top: 2px;
}
#pf2e-token-hud .sidebar.spells .sidebar-content .entry .spell.expended .details .name {
  color: var(--color-disabled);
  text-decoration: line-through;
}
#pf2e-token-hud .sidebar.spells .sidebar-content .entry .spell.virtual {
  position: relative;
}
#pf2e-token-hud .sidebar.spells .sidebar-content .entry .spell.virtual:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 5, 255, 0.07);
  pointer-events: none;
}
#pf2e-token-hud .sidebar.spells .sidebar-content .entry .spell .description {
  display: none;
}