<div class="pf2e-token-hud variant">
    <p>
        <strong>{{i18n 'label'}}</strong>
        <select>
            {{selectOptions skills selected=selected nameAttr="slug" labelAttr="label"}}
        </select>
    </p>
    {{#if dc inclueZero=true}}
    <p>
        <strong>{{i18n 'dc'}}</strong>
        <input type="number" value="{{dc}}" min="0">
    </p>
    {{/if}}
</div>