<div class="extras">
    <div class="row">
        <a data-action="roll-initiative">{{localize 'PF2E.InitiativeLabel'}}</a>
        <select name="system.attributes.initiative.statistic">
            {{selectOptions initiative.skills selected=initiative.selected nameAttr="slug" labelAttr="label"}}
        </select>
    </div>
</div>