.pf2e-token-hud,
#pf2e-token-hud {
    --color-rank-0: #424242;
    --color-rank-1: #171f69;
    --color-rank-2: #3c005e;
    --color-rank-3: #664400;
    --color-rank-4: #5e0000;

    --color-rarity-common: #323232;
    --color-rarity-uncommon: #98513d;
    --color-rarity-rare: #002664;
    --color-rarity-unique: #54166e;

    .rank {
        &.\30 {
            color: var(--color-rank-0);
        }

        &.\31 {
            color: var(--color-rank-1);
        }

        &.\32 {
            color: var(--color-rank-2);
        }

        &.\33 {
            color: var(--color-rank-3);
        }

        &.\34 {
            color: var(--color-rank-4);
        }
    }

    .rarity {
        &.common {
            color: var(--color-rarity-common);
        }

        &.uncommon {
            color: var(--color-rarity-uncommon);
        }

        &.rare {
            color: var(--color-rarity-rare);
        }

        &.unique {
            color: var(--color-rarity-unique);
        }
    }

    .success {
        &.\30 {
            color: red;
        }

        &.\33 {
            color: green;
        }
    }

    .no-macro {
        text-align: center;
        padding-block: 4px;
        color: var(--color-text-dark-4);
        border: 1px dashed var(--color-text-dark-6);
    }
}

.crb-hover .tooltipster-box .tooltipster-content .hover-content {
    &.info {
        white-space: nowrap;
        min-width: 100px;
        line-height: 1.2;

        li ul {
            padding-left: 1em;
        }

        &.stealth {
            .content-link {
                color: var(--text-dark);
            }
        }
    }

    &.alliances {
        white-space: nowrap;
    }
}

[role='tooltip'] {
    &.pf2e-token-hud-tooltip {
        border-width: 9px;
        border-image: url(/systems/pf2e/assets/sheet/corner-box.webp) 9 repeat;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        white-space: nowrap;
        padding: 4px;

        > * {
            font-size: var(--font-size);
            min-width: 7.14em;
            line-height: 1.2;
            text-align: start;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .inline-roll {
            color: var(--color-text-dark-primary);
        }
    }

    .pf2e-token-hud-selection-tooltip {
        li a {
            &.selected {
                pointer-events: none;
            }

            &:not(.selected) {
                color: rgba(255, 255, 255, 0.5);
            }

            i {
                min-width: 1.25em;
                margin: 1px 4px 1px 0;
            }
        }

        &.pf2e-token-hud-carry-type {
            max-width: 12em;

            li {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
