#pf2e-token-hud .sidebar.actions {
  max-width: 18.5em;
}
#pf2e-token-hud .sidebar.actions .toggles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3px 6px 0px 2px;
  line-height: 1.1;
  overflow: hidden;
  gap: 4px;
}
#pf2e-token-hud .sidebar.actions .toggles .toggle {
  display: flex;
  flex-direction: column;
}
#pf2e-token-hud .sidebar.actions .toggles .toggle label {
  display: flex;
  align-items: center;
  gap: 2px;
  overflow: hidden;
}
#pf2e-token-hud .sidebar.actions .toggles .toggle label input {
  margin: 0;
  height: 1.1em;
}
#pf2e-token-hud .sidebar.actions .toggles .toggle label .name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#pf2e-token-hud .sidebar.actions .toggles .toggle label .name.unchecked-disable {
  color: var(--color-text-dark-inactive);
}
#pf2e-token-hud .sidebar.actions .toggles .toggle select {
  border: none;
  height: 1.4em;
  margin-left: 18px;
  padding: 0;
}
#pf2e-token-hud .sidebar.actions .section .header {
  text-align: center;
}
#pf2e-token-hud .sidebar.actions .section .strike {
  height: auto;
  margin-top: 2px;
  display: flex;
  gap: 1px;
  flex-direction: column;
}
#pf2e-token-hud .sidebar.actions .section .strike .temporary {
  font-size: 0.86em;
}
#pf2e-token-hud .sidebar.actions .section .strike .variants .variant .activity-icon {
  line-height: 1;
}
#pf2e-token-hud .sidebar.actions .section .strike .variants .variant select {
  color: inherit;
  border: 0;
  background: #6a6a6a;
  height: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 2px;
}
#pf2e-token-hud .sidebar.actions .section .strike .variants .variant select option {
  color: black;
}
#pf2e-token-hud .sidebar.actions .section .strike .variants .variant select.modular {
  margin-left: 2px;
  margin-right: -1px;
  padding-right: 0;
}
#pf2e-token-hud .sidebar.actions .section .strike .variants .variant select.ammos {
  margin-inline: -1px;
}
#pf2e-token-hud .sidebar.actions .section .strike .variants .versatiles {
  display: flex;
  gap: 1px;
}
#pf2e-token-hud .sidebar.actions .section .strike .variants .versatiles .variant {
  display: flex;
  align-items: center;
  justify-content: center;
}
#pf2e-token-hud .sidebar.actions .section .strike .variants .versatiles .variant.selected {
  background: var(--light);
}
#pf2e-token-hud .sidebar.actions .section .strike .variants .versatiles .variant.selected:hover {
  box-shadow: inset 0 0 4px white;
}
#pf2e-token-hud .sidebar.actions .section .action {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 2px;
  height: 1.4em;
  padding-inline: var(--inline-padding);
}
#pf2e-token-hud .sidebar.actions .section .action:hover {
  --hover-background: rgb(0 0 0 / 5%);
  background-color: var(--hover-background);
}
#pf2e-token-hud .sidebar.actions .section .action:hover .icon img {
  background-color: var(--hover-background);
}
#pf2e-token-hud .sidebar.actions .section .action .icon {
  height: 100%;
}
#pf2e-token-hud .sidebar.actions .section .action .icon img {
  height: 100%;
  border: 0;
  background: #c9c5b1;
}
#pf2e-token-hud .sidebar.actions .section .action .name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#pf2e-token-hud .sidebar.actions .section .action .chat {
  margin-top: 2px;
  font-size: 0.9em;
}
#pf2e-token-hud .sidebar.actions.attack-damage-system-colors .section .strike .variants .variant[data-action=strike-attack] {
  background: var(--secondary);
}
#pf2e-token-hud .sidebar.actions.attack-damage-system-colors .section .strike .variants .variant[data-action=strike-damage], #pf2e-token-hud .sidebar.actions.attack-damage-system-colors .section .strike .variants .variant[data-action=strike-critical] {
  background: var(--primary);
}
#pf2e-token-hud .sidebar.actions.attack-damage-system-colors .section .strike .variants .variant[data-action=strike-attack]:not(.disabled):hover, #pf2e-token-hud .sidebar.actions.attack-damage-system-colors .section .strike .variants .variant[data-action=strike-damage]:not(.disabled):hover, #pf2e-token-hud .sidebar.actions.attack-damage-system-colors .section .strike .variants .variant[data-action=strike-critical]:not(.disabled):hover {
  box-shadow: none;
  text-shadow: 0 0 2px white;
}