#pf2e-token-hud {
    .sidebar.actions {
        max-width: 18.5em;

        .toggles {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 3px 6px 0px 2px;
            line-height: 1.1;
            overflow: hidden;
            gap: 4px;

            .toggle {
                display: flex;
                flex-direction: column;

                label {
                    display: flex;
                    align-items: center;
                    gap: 2px;
                    overflow: hidden;

                    input {
                        margin: 0;
                        height: 1.1em;
                    }

                    .name {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;

                        &.unchecked-disable {
                            color: var(--color-text-dark-inactive);
                        }
                    }
                }

                select {
                    border: none;
                    height: 1.4em;
                    margin-left: 18px;
                    padding: 0;
                }
            }
        }

        .section {
            .header {
                text-align: center;
            }

            .strike {
                height: auto;
                margin-top: 2px;
                display: flex;
                gap: 1px;
                flex-direction: column;

                .temporary {
                    font-size: 0.86em;
                }

                .variants {
                    .variant {
                        .activity-icon {
                            line-height: 1;
                        }

                        select {
                            color: inherit;
                            border: 0;
                            background: #6a6a6a;
                            height: 100%;
                            appearance: none;
                            border-radius: 2px;

                            option {
                                color: black;
                            }

                            &.modular {
                                margin-left: 2px;
                                margin-right: -1px;
                                padding-right: 0;
                            }

                            &.ammos {
                                margin-inline: -1px;
                            }
                        }
                    }

                    .versatiles {
                        display: flex;
                        gap: 1px;

                        .variant {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &.selected {
                                background: var(--light);

                                &:hover {
                                    box-shadow: inset 0 0 4px white;
                                }
                            }
                        }
                    }
                }
            }

            .action {
                display: flex;
                align-items: center;
                gap: 4px;
                margin-top: 2px;
                height: 1.4em;

                &:hover {
                    --hover-background: rgb(0 0 0 / 5%);

                    background-color: var(--hover-background);

                    .icon {
                        img {
                            background-color: var(--hover-background);
                        }
                    }
                }

                .icon {
                    height: 100%;

                    img {
                        height: 100%;
                        border: 0;
                        background: #c9c5b1;
                    }
                }

                .name {
                    flex: 1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .chat {
                    margin-top: 2px;
                    font-size: 0.9em;
                }
            }
        }
    }
}
