#pf2e-token-hud .sidebar.extras hr {
  width: 100%;
  margin: 0;
}
#pf2e-token-hud .sidebar.extras .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--inline-padding);
}
#pf2e-token-hud .sidebar.extras .row select {
  border: 0;
  height: 100%;
}