#pf2e-token-hud .sidebar.extras hr {
  width: 100%;
  margin: 0;
}
#pf2e-token-hud .sidebar.extras hr:last-child {
  display: none;
}
#pf2e-token-hud .sidebar.extras .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--inline-padding);
  gap: 20px;
}
#pf2e-token-hud .sidebar.extras .row select {
  border: 0;
  height: 100%;
}
#pf2e-token-hud .sidebar.extras .row > a[data-action] {
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
}
#pf2e-token-hud .sidebar.extras .row > a[data-action] .activity-icon {
  font-size: 1.7em;
  line-height: 0.5;
  display: inline-block;
}
#pf2e-token-hud .sidebar.extras .row .actions {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.9em;
}