.pf2e-token-hud,
#pf2e-token-hud {
  --color-rank-0: #424242;
  --color-rank-1: #171f69;
  --color-rank-2: #3c005e;
  --color-rank-3: #664400;
  --color-rank-4: #5e0000;
}
.pf2e-token-hud .rank.\30 ,
#pf2e-token-hud .rank.\30  {
  color: var(--color-rank-0);
}
.pf2e-token-hud .rank.\31 ,
#pf2e-token-hud .rank.\31  {
  color: var(--color-rank-1);
}
.pf2e-token-hud .rank.\32 ,
#pf2e-token-hud .rank.\32  {
  color: var(--color-rank-2);
}
.pf2e-token-hud .rank.\33 ,
#pf2e-token-hud .rank.\33  {
  color: var(--color-rank-3);
}
.pf2e-token-hud .rank.\34 ,
#pf2e-token-hud .rank.\34  {
  color: var(--color-rank-4);
}
.pf2e-token-hud .success.\30 ,
#pf2e-token-hud .success.\30  {
  color: red;
}
.pf2e-token-hud .success.\33 ,
#pf2e-token-hud .success.\33  {
  color: green;
}

.crb-hover .tooltipster-box .tooltipster-content .hover-content.info {
  white-space: nowrap;
  min-width: 100px;
  line-height: 1.2;
}
.crb-hover .tooltipster-box .tooltipster-content .hover-content.info li ul {
  padding-left: 1em;
}