.pf2e-token-hud,
#pf2e-token-hud {
  --color-rank-0: #424242;
  --color-rank-1: #171f69;
  --color-rank-2: #3c005e;
  --color-rank-3: #664400;
  --color-rank-4: #5e0000;
  --color-rarity-common: #323232;
  --color-rarity-uncommon: #98513d;
  --color-rarity-rare: #002664;
  --color-rarity-unique: #54166e;
}
.pf2e-token-hud .rank.\30 ,
#pf2e-token-hud .rank.\30  {
  color: var(--color-rank-0);
}
.pf2e-token-hud .rank.\31 ,
#pf2e-token-hud .rank.\31  {
  color: var(--color-rank-1);
}
.pf2e-token-hud .rank.\32 ,
#pf2e-token-hud .rank.\32  {
  color: var(--color-rank-2);
}
.pf2e-token-hud .rank.\33 ,
#pf2e-token-hud .rank.\33  {
  color: var(--color-rank-3);
}
.pf2e-token-hud .rank.\34 ,
#pf2e-token-hud .rank.\34  {
  color: var(--color-rank-4);
}
.pf2e-token-hud .rarity.common,
#pf2e-token-hud .rarity.common {
  color: var(--color-rarity-common);
}
.pf2e-token-hud .rarity.uncommon,
#pf2e-token-hud .rarity.uncommon {
  color: var(--color-rarity-uncommon);
}
.pf2e-token-hud .rarity.rare,
#pf2e-token-hud .rarity.rare {
  color: var(--color-rarity-rare);
}
.pf2e-token-hud .rarity.unique,
#pf2e-token-hud .rarity.unique {
  color: var(--color-rarity-unique);
}
.pf2e-token-hud .success.\30 ,
#pf2e-token-hud .success.\30  {
  color: red;
}
.pf2e-token-hud .success.\33 ,
#pf2e-token-hud .success.\33  {
  color: green;
}
.pf2e-token-hud .no-macro,
#pf2e-token-hud .no-macro {
  text-align: center;
  padding-block: 4px;
  color: var(--color-text-dark-4);
  border: 1px dashed var(--color-text-dark-6);
}

.crb-hover .tooltipster-box .tooltipster-content .hover-content.info {
  white-space: nowrap;
  min-width: 100px;
  line-height: 1.2;
}
.crb-hover .tooltipster-box .tooltipster-content .hover-content.info li ul {
  padding-left: 1em;
}
.crb-hover .tooltipster-box .tooltipster-content .hover-content.info.stealth .content-link {
  color: var(--text-dark);
}