#pf2e-token-hud {
    --inner-padding: 5px;
    --inner-border-radius: 4px;
    --outer-padding: 10px;
    --color: #1c1c1c;
    --item-height: 2.43em;
    --inline-padding: 4px;
    --font-size: 14px;
    --outer-box-shadow: 0 0 20px var(--color-shadow-dark);

    z-index: 90;
    position: absolute;
    padding: var(--outer-padding);
    color: var(--color);
    font-size: var(--font-size);

    a {
        &.disabled {
            color: var(--color-disabled);
            cursor: default;

            &:hover {
                text-shadow: none;
            }
        }

        &.active {
            text-shadow: 0 0 8px var(--color-shadow-primary);
        }
    }

    input,
    select {
        color: var(--color);
    }

    .sidebar,
    .inner,
    .popup {
        border-radius: var(--inner-border-radius);
        background: url(/ui/parchment.jpg) repeat;
        padding: var(--inner-padding);
        box-shadow: var(--outer-box-shadow);
    }

    .sidebar {
        --capped-height: calc(100vh - 2 * var(--outer-padding));
        --max-height: --capped-height;

        position: fixed;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: min(var(--max-height), var(--capped-height));
        min-width: 14em;
        max-width: 18.5em;
        display: flex;
        flex-direction: column;
        gap: var(--inner-padding);

        .header {
            background: rgba(96, 88, 86, 0.25);
            border: 1px solid var(--color-border-light-2);
            border-left: 0;
            border-right: 0;
            height: 1.4em;
        }

        .item-img {
            position: relative;
            height: 100%;
            aspect-ratio: 1 / 1;

            img {
                border: 1px solid #5e5135;
                border-radius: 4px;
                height: 100%;
            }
        }

        .variants {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 1px 2px;
            font-size: 0.85em;

            .variant {
                cursor: pointer;
                height: calc(var(--font-size) * 1.28);
                background: #424242;
                border-radius: 2px;
                border: 1px solid rgba(0, 0, 0, 0.5);
                box-shadow: inset 0 0 0 1px rgb(255 255 255 / 10%);
                color: var(--text-light);
                padding-inline: 1px;

                &.disabled {
                    box-shadow: none;
                    color: #6c6969;
                    background: #b3b2b2;
                    cursor: not-allowed;
                    border-color: #858585;
                }

                &:not(.disabled):hover {
                    box-shadow: inset 0 0 6px var(--color-shadow-primary);
                }
            }
        }

        .details {
            flex: 1;
            height: 100%;
            overflow: hidden;

            > * {
                padding-inline: var(--inline-padding);
            }

            .name {
                background-color: rgba(120, 100, 82, 0.1);
                white-space: nowrap;
                font-weight: bold;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .extras {
                display: flex;
                justify-content: space-between;
                gap: 6px;
                height: 50%;

                .actions {
                    margin-top: 1px;
                    font-size: 0.95em;
                    display: flex;
                    align-items: center;
                    gap: 3px;

                    a {
                        i {
                            &.greyed {
                                color: rgba(0, 0, 0, 0.5);
                            }
                        }
                    }
                }
            }

            input {
                border: 0;
                font-size: 0.9em;
                text-align: center;
                height: calc(100% - 2px);

                &[type='number'] {
                    &:disabled {
                        background: none;
                    }
                }

                &[type='text'] {
                    background: none;
                }
            }
        }

        &.no-scrollbar {
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        max-width: 700px;

        .header {
            position: relative;
            display: flex;
            color: var(--text-light);
            align-items: center;
            justify-content: space-between;
            margin-bottom: calc(var(--inner-padding) * 2 + 3px);

            &:before {
                content: '';
                z-index: -1;
                position: absolute;
                background: #000000c7;
                inset: calc(-1 * var(--inner-padding) - 1px);
                border-radius: var(--inner-border-radius) var(--inner-border-radius) 0 0;
            }
        }
    }

    .distance,
    .status {
        --padding-block: 6px;
        --border-width: 2px;
        --inner-padding: calc(var(--outer-padding) / 2);

        display: flex;
        align-items: center;
        justify-content: center;
        background: url(/ui/denim075.png) repeat;
        padding: var(--padding-block) 10px;
        color: var(--text-light);
        border-radius: var(--padding-block);
        border: var(--border-width) solid var(--color-border-dark);
        box-shadow: var(--outer-box-shadow);
        white-space: nowrap;
        position: relative;
    }

    .distance {
        gap: 6px;
        z-index: -1;
        width: fit-content;

        &.free {
            position: absolute;
            top: calc(var(--outer-padding) + (var(--padding-block) + var(--border-width)) / 2 + -1px);
            left: 50%;
            transform: translate(-50%, -100%);
        }

        &:not(.free):not(:last-child) {
            margin: auto;
            top: calc(var(--border-width) + var(--inner-padding));
            border-radius: var(--padding-block) var(--padding-block) 0 0;
        }
    }

    .status {
        color: hsl(var(--hue) 75% 40%);
        font-weight: bold;
        letter-spacing: 0.5px;
        top: var(--inner-padding);
        min-width: 7em;
    }

    .inner {
        max-width: 17em;

        hr {
            margin-block: var(--inner-padding);
        }

        i {
            margin-inline: 4px;
        }

        .header {
            text-align: center;
            font-weight: bolder;
            text-transform: uppercase;
        }

        .group {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.43em;
            min-height: 1.86em;

            .section {
                display: flex;
                align-items: center;

                input[type='number'] {
                    color: var(--color);
                    text-align: center;
                    border: none;
                    padding: 0;
                    height: 1.4em;
                    width: 2ch;
                }

                .numbers {
                    display: inline-grid;
                    grid-template-columns: 1fr auto 1fr;
                    align-items: center;
                    justify-items: center;

                    input[type='number'] {
                        width: auto;
                    }

                    @-moz-document url-prefix() {
                        input[type='number'] {
                            width: 3ch;
                        }
                    }
                }
            }
        }

        .footer {
            font-size: 1.1em;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }
}
