#pf2e-token-hud {
    --inner-padding: 5px;
    --inner-border-radius: 4px;
    --outer-padding: 10px;
    --color: #1c1c1c;
    --item-height: 2.43em;
    --inline-padding: 4px;
    --font-size: 14px;
    --outer-box-shadow: 0 0 20px var(--color-shadow-dark);

    z-index: 90;
    position: absolute;
    padding: var(--outer-padding);
    color: var(--color);
    font-size: var(--font-size);

    hr {
        margin-block: var(--inner-padding);
        width: 100%;

        &:last-child {
            display: none;
        }
    }

    a {
        &.disabled {
            color: var(--color-disabled);
            cursor: default;

            &:hover {
                text-shadow: none;
            }
        }

        &.active {
            text-shadow: 0 0 8px var(--color-shadow-primary);
        }
    }

    .pips {
        display: flex;
        align-items: center;
        gap: 1px;
        cursor: pointer;

        &.digits {
            padding-inline: 2px;
            background: rgba(0, 0, 0, 0.05);

            i {
                font-size: 0.5em;

                &.disabled {
                    color: #a19d9d;
                }
            }
        }
    }

    input,
    select {
        color: var(--color);
    }

    .sidebar,
    .inner,
    .popup {
        border-radius: var(--inner-border-radius);
        background: url(../../../ui/parchment.jpg) repeat;
        padding: var(--inner-padding);
        box-shadow: var(--outer-box-shadow);
    }

    .distance,
    .status {
        --border-radius: 4px;
        --padding-block: 2px;
        --border-width: 2px;
        --inner-padding: calc(var(--outer-padding) / 2);

        display: flex;
        align-items: center;
        justify-content: center;
        background: url(../../../ui/denim075.png) repeat;
        background-color: #00000059;
        padding: var(--padding-block) 4px;
        color: var(--text-light);
        border-radius: var(--border-radius);
        box-shadow: var(--outer-box-shadow);
        white-space: nowrap;
        position: relative;

        text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black;
        padding: 2px 4px;
        font-weight: bold;
        font-size: 1.1em;

        pointer-events: none;
    }

    .distance {
        gap: 6px;
        z-index: -1;
        width: fit-content;

        &.free {
            position: absolute;
            top: var(--outer-padding);
            left: 50%;
            transform: translate(-50%, -100%);
            border-radius: var(--border-radius) var(--border-radius) 0 0;
        }

        &:not(.free):not(:last-child) {
            margin: auto;
            border-radius: 4px 4px 0 0;
            pointer-events: none;
        }
    }

    .status {
        color: hsl(var(--hue) 75% 40%);
        font-weight: bold;
        letter-spacing: 0.5px;

        &.free {
            position: absolute;
            top: auto;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%, 100%);
            border-radius: 0 0 var(--border-radius) var(--border-radius);
            z-index: -1;
        }

        &:not(.free) {
            min-width: 7em;
            pointer-events: none;
        }
    }

    &.observer {
        a:not(.observable):not(.name):not(.content-link) {
            text-shadow: none;
            cursor: default;
        }

        .pips {
            cursor: default;
        }
    }
}
