#pf2e-token-hud {
    --inner-padding: 5px;
    --inner-border-radius: 4px;
    --outer-padding: 10px;
    --color: #1c1c1c;
    --item-height: 2.43em;
    --inline-padding: 4px;
    --font-size: 14px;
    --outer-box-shadow: 0 0 20px var(--color-shadow-dark);

    z-index: 90;
    position: absolute;
    padding: var(--outer-padding);
    color: var(--color);
    font-size: var(--font-size);

    hr {
        margin-block: var(--inner-padding);
        width: 100%;

        &:last-child {
            display: none;
        }
    }

    a {
        &.disabled {
            color: var(--color-disabled);
            cursor: default;

            &:hover {
                text-shadow: none;
            }
        }

        &.active {
            text-shadow: 0 0 8px var(--color-shadow-primary);
        }
    }

    .pips {
        display: flex;
        align-items: center;
        gap: 1px;
        cursor: pointer;
    }

    input,
    select {
        color: var(--color);
    }

    .sidebar,
    .inner,
    .popup {
        border-radius: var(--inner-border-radius);
        background: url(/ui/parchment.jpg) repeat;
        padding: var(--inner-padding);
        box-shadow: var(--outer-box-shadow);
    }

    .sidebar {
        --capped-height: calc(100vh - 2 * var(--outer-padding));
        --max-height: --capped-height;
        --min-width: 14em;
        --max-width: 18.5em;

        position: fixed;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: min(var(--max-height), var(--capped-height));
        min-width: var(--min-width);
        max-width: var(--max-width);
        display: flex;
        flex-direction: column;
        gap: var(--inner-padding);

        &.doubled {
            min-width: calc(var(--min-width) * 2);
            max-width: calc(var(--max-width) * 2);
            display: grid;
            grid-template-columns: 50% 50%;
        }

        .header {
            background: rgba(96, 88, 86, 0.25);
            border: 1px solid var(--color-border-light-2);
            border-left: 0;
            border-right: 0;
            height: 1.4em;
        }

        .item-box {
            display: flex;
            height: var(--item-height);
            margin-top: 2px;
        }

        .item-img {
            position: relative;
            height: 100%;
            aspect-ratio: 1 / 1;

            img {
                border: 1px solid #5e5135;
                border-radius: 4px;
                height: 100%;
            }

            &.hover {
                cursor: pointer;

                i {
                    display: none;
                    position: absolute;
                    inset: 0;
                    align-items: center;
                    justify-content: center;
                    background: #c9c3b8;
                    border: 1px solid #363636;
                    border-radius: 4px;
                    font-size: 2em;
                }

                &:hover {
                    i {
                        display: flex;
                    }
                }
            }
        }

        .variants {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 1px 2px;
            font-size: 0.85em;

            .variant,
            .magazine {
                height: calc(var(--font-size) * 1.28);
                border-radius: 2px;
                border: 1px solid rgba(0, 0, 0, 0.5);
                color: var(--text-light);
                padding-inline: 1px;
            }

            .variant {
                cursor: pointer;
                background: #424242;
                box-shadow: inset 0 0 0 1px rgb(255 255 255 / 10%);

                &.disabled {
                    box-shadow: none;
                    color: #6c6969;
                    background: #b3b2b2;
                    cursor: not-allowed;
                    border-color: #858585;
                }

                &:not(.disabled):hover {
                    box-shadow: inset 0 0 6px var(--color-shadow-primary);
                }
            }
        }

        .details {
            flex: 1;
            height: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            > * {
                padding-inline: var(--inline-padding);
            }

            .name {
                background-color: rgba(120, 100, 82, 0.1);
                white-space: nowrap;
                font-weight: bold;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .extras {
                display: flex;
                justify-content: space-between;
                gap: 6px;
                height: 50%;

                .actions {
                    margin-top: 1px;
                    font-size: 0.95em;
                    display: flex;
                    align-items: center;
                    gap: 3px;

                    a {
                        i {
                            &.greyed {
                                color: rgba(0, 0, 0, 0.5);
                            }
                        }
                    }
                }
            }

            input {
                border: 0;
                font-size: 0.9em;
                text-align: center;
                height: calc(100% - 2px);

                &[type='number'] {
                    &:disabled {
                        background: none;
                    }
                }

                &[type='text'] {
                    background: none;
                }
            }
        }

        &.no-scrollbar {
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        max-width: 700px;
        max-height: calc(100vh - var(--outer-padding) * 2);
        display: flex;
        flex-direction: column;

        .header {
            position: relative;
            display: flex;
            color: var(--text-light);
            align-items: center;
            justify-content: space-between;
            margin-bottom: calc(var(--inner-padding) * 2 + 3px);

            &:before {
                content: '';
                z-index: -1;
                position: absolute;
                background: #000000c7;
                inset: calc(-1 * var(--inner-padding) - 1px);
                border-radius: var(--inner-border-radius) var(--inner-border-radius) 0 0;
            }
        }

        .description {
            overflow-y: auto;
        }
    }

    .distance,
    .status {
        --border-radius: 4px;
        --padding-block: 2px;
        --border-width: 2px;
        --inner-padding: calc(var(--outer-padding) / 2);

        display: flex;
        align-items: center;
        justify-content: center;
        background: url(/ui/denim075.png) repeat;
        background-color: #00000059;
        padding: var(--padding-block) 4px;
        color: var(--text-light);
        border-radius: var(--border-radius);
        box-shadow: var(--outer-box-shadow);
        white-space: nowrap;
        position: relative;

        text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black;
        padding: 2px 4px;
        font-weight: bold;
        font-size: 1.1em;
    }

    .distance {
        gap: 6px;
        z-index: -1;
        width: fit-content;

        &.free {
            position: absolute;
            top: var(--outer-padding);
            left: 50%;
            transform: translate(-50%, -100%);
            border-radius: var(--border-radius) var(--border-radius) 0 0;
        }

        &:not(.free):not(:last-child) {
            margin: auto;
            border-radius: 4px 4px 0 0;
            pointer-events: none;
        }
    }

    .status {
        color: hsl(var(--hue) 75% 40%);
        font-weight: bold;
        letter-spacing: 0.5px;

        &.free {
            position: absolute;
            top: auto;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%, 100%);
            border-radius: 0 0 var(--border-radius) var(--border-radius);
            z-index: -1;
        }

        &:not(.free) {
            min-width: 7em;
            pointer-events: none;
        }
    }

    .inner {
        min-width: 14em;
        max-width: 17em;

        i {
            margin-inline: 3px;
        }

        .header {
            text-align: center;
            font-weight: bolder;
            text-transform: uppercase;
        }

        .group {
            --group-gap: 1em;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--group-gap);
            min-height: 1.86em;

            .section {
                display: flex;
                align-items: center;
                position: relative;

                &.info {
                    cursor: help;

                    &.disabled {
                        cursor: default;
                        pointer-events: none;
                        color: var(--color-disabled);
                    }
                }

                input[type='number'] {
                    color: var(--color);
                    text-align: center;
                    border: none;
                    padding: 0;
                    height: 1.4em;
                    width: 2ch;
                }

                .numbers {
                    display: inline-grid;
                    grid-template-columns: 1fr auto 1fr;
                    align-items: center;
                    justify-items: center;

                    input[type='number'] {
                        width: auto;
                    }

                    @-moz-document url-prefix() {
                        input[type='number'] {
                            width: 3ch;
                        }
                    }
                }

                .pips {
                    i {
                        font-size: 0.86em;
                        margin: 0;
                        margin-top: 1px;
                    }
                }

                sup {
                    position: absolute;
                    top: 0px;
                    right: -1px;
                    transform: translateX(100%);
                    font-size: 0.7em;
                    font-weight: bold;
                }
            }
        }

        .footer {
            font-size: 1.1em;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        &.hazard {
            min-width: 12em;

            .group {
                .section {
                    &.details {
                        margin-left: calc(var(--group-gap) * -1);
                    }
                }
            }
        }
    }

    &.observer {
        a:not(.observable):not(.name):not(.content-link) {
            text-shadow: none;
            cursor: default;
        }

        .pips {
            cursor: default;
        }

        .sidebar {
            .variants {
                .variant {
                    cursor: default;

                    &:hover {
                        box-shadow: none;
                    }
                }
            }

            .item-img {
                &.hover {
                    cursor: default;
                }
            }
        }
    }
}
