#pf2e-token-hud {
  --inner-padding: 5px;
  --inner-border-radius: 4px;
  --outer-padding: 10px;
  --color: #1c1c1c;
  --item-height: 2.43em;
  --inline-padding: 4px;
  --font-size: 14px;
  --outer-box-shadow: 0 0 20px var(--color-shadow-dark);
  z-index: 90;
  position: absolute;
  padding: var(--outer-padding);
  color: var(--color);
  font-size: var(--font-size);
}
#pf2e-token-hud hr {
  margin-block: var(--inner-padding);
  width: 100%;
}
#pf2e-token-hud hr:last-child {
  display: none;
}
#pf2e-token-hud a.disabled {
  color: var(--color-disabled);
  cursor: default;
}
#pf2e-token-hud a.disabled:hover {
  text-shadow: none;
}
#pf2e-token-hud a.active {
  text-shadow: 0 0 8px var(--color-shadow-primary);
}
#pf2e-token-hud .pips {
  display: flex;
  align-items: center;
  gap: 1px;
  cursor: pointer;
}
#pf2e-token-hud input,
#pf2e-token-hud select {
  color: var(--color);
}
#pf2e-token-hud .sidebar,
#pf2e-token-hud .inner,
#pf2e-token-hud .popup {
  border-radius: var(--inner-border-radius);
  background: url(/ui/parchment.jpg) repeat;
  padding: var(--inner-padding);
  box-shadow: var(--outer-box-shadow);
}
#pf2e-token-hud .sidebar {
  --capped-height: calc(100vh - 2 * var(--outer-padding));
  --max-height: --capped-height;
  --min-width: 14em;
  --max-width: 18.5em;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: min(var(--max-height), var(--capped-height));
  min-width: var(--min-width);
  max-width: var(--max-width);
}
#pf2e-token-hud .sidebar.doubled {
  min-width: calc(var(--min-width) * 2);
  max-width: calc(var(--max-width) * 2);
}
#pf2e-token-hud .sidebar.doubled .sidebar-content {
  display: grid;
  grid-template-columns: 50% 50%;
}
#pf2e-token-hud .sidebar.no-scrollbar {
  scrollbar-width: none;
}
#pf2e-token-hud .sidebar.no-scrollbar::-webkit-scrollbar {
  display: none;
}
#pf2e-token-hud .sidebar .sidebar-header {
  --input-padding: 3px;
  --icon-margin: 3px;
  --icon-size: 1em;
  position: relative;
}
#pf2e-token-hud .sidebar .sidebar-header:not(.show) {
  display: none;
}
#pf2e-token-hud .sidebar .sidebar-header:not(:last-child) {
  margin-bottom: var(--inline-padding);
}
#pf2e-token-hud .sidebar .sidebar-header input {
  width: 100%;
  padding-left: var(--input-padding);
  padding-right: calc(var(--input-padding) + var(--icon-margin) * 2 + var(--icon-size));
}
#pf2e-token-hud .sidebar .sidebar-header a {
  position: absolute;
  right: var(--icon-margin);
  top: 0;
  height: 100%;
  width: var(--icon-size);
  font-size: var(--icon-size);
  display: flex;
  align-items: center;
}
#pf2e-token-hud .sidebar .sidebar-content {
  display: flex;
  flex-direction: column;
  gap: var(--inner-padding);
}
#pf2e-token-hud .sidebar .sidebar-content .header {
  background: rgba(96, 88, 86, 0.25);
  border: 1px solid var(--color-border-light-2);
  border-left: 0;
  border-right: 0;
  height: 1.4em;
}
#pf2e-token-hud .sidebar .sidebar-content .item-box {
  display: flex;
  height: var(--item-height);
  margin-top: 2px;
}
#pf2e-token-hud .sidebar .sidebar-content .item-img {
  position: relative;
  height: 100%;
  aspect-ratio: 1/1;
}
#pf2e-token-hud .sidebar .sidebar-content .item-img img {
  border: 1px solid #5e5135;
  border-radius: 4px;
  height: 100%;
}
#pf2e-token-hud .sidebar .sidebar-content .item-img.hover {
  cursor: pointer;
}
#pf2e-token-hud .sidebar .sidebar-content .item-img.hover i {
  display: none;
  position: absolute;
  inset: 0;
  align-items: center;
  justify-content: center;
  background: #c9c3b8;
  border: 1px solid #363636;
  border-radius: 4px;
  font-size: 2em;
}
#pf2e-token-hud .sidebar .sidebar-content .item-img.hover:hover i {
  display: flex;
}
#pf2e-token-hud .sidebar .sidebar-content .variants {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1px 2px;
  font-size: 0.85em;
}
#pf2e-token-hud .sidebar .sidebar-content .variants .variant,
#pf2e-token-hud .sidebar .sidebar-content .variants .magazine {
  height: calc(var(--font-size) * 1.28);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: var(--text-light);
  padding-inline: 1px;
}
#pf2e-token-hud .sidebar .sidebar-content .variants .variant {
  cursor: pointer;
  background: #424242;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}
#pf2e-token-hud .sidebar .sidebar-content .variants .variant.disabled {
  box-shadow: none;
  color: #6c6969;
  background: #b3b2b2;
  cursor: not-allowed;
  border-color: #858585;
}
#pf2e-token-hud .sidebar .sidebar-content .variants .variant:not(.disabled):hover {
  box-shadow: inset 0 0 6px var(--color-shadow-primary);
}
#pf2e-token-hud .sidebar .sidebar-content .details {
  flex: 1;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
#pf2e-token-hud .sidebar .sidebar-content .details > * {
  padding-inline: var(--inline-padding);
}
#pf2e-token-hud .sidebar .sidebar-content .details .name {
  background-color: rgba(120, 100, 82, 0.1);
  white-space: nowrap;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
}
#pf2e-token-hud .sidebar .sidebar-content .details .extras {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  height: 50%;
}
#pf2e-token-hud .sidebar .sidebar-content .details .extras .actions {
  margin-top: 1px;
  font-size: 0.95em;
  display: flex;
  align-items: center;
  gap: 3px;
}
#pf2e-token-hud .sidebar .sidebar-content .details .extras .actions a i.greyed {
  color: rgba(0, 0, 0, 0.5);
}
#pf2e-token-hud .sidebar .sidebar-content .details input {
  border: 0;
  font-size: 0.9em;
  text-align: center;
  height: calc(100% - 2px);
}
#pf2e-token-hud .sidebar .sidebar-content .details input[type=number]:disabled {
  background: none;
}
#pf2e-token-hud .sidebar .sidebar-content .details input[type=text] {
  background: none;
}
#pf2e-token-hud .popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  min-width: 300px;
  max-width: 700px;
  max-height: calc(100vh - var(--outer-padding) * 2);
  display: flex;
  flex-direction: column;
}
#pf2e-token-hud .popup .header {
  position: relative;
  display: flex;
  color: var(--text-light);
  align-items: center;
  justify-content: space-between;
  margin-bottom: calc(var(--inner-padding) * 2 + 3px);
}
#pf2e-token-hud .popup .header:before {
  content: "";
  z-index: -1;
  position: absolute;
  background: rgba(0, 0, 0, 0.7803921569);
  inset: calc(-1 * var(--inner-padding) - 1px);
  border-radius: var(--inner-border-radius) var(--inner-border-radius) 0 0;
}
#pf2e-token-hud .popup .description {
  overflow-y: auto;
  overflow-x: hidden;
}
#pf2e-token-hud .distance,
#pf2e-token-hud .status {
  --border-radius: 4px;
  --padding-block: 2px;
  --border-width: 2px;
  --inner-padding: calc(var(--outer-padding) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/ui/denim075.png) repeat;
  background-color: rgba(0, 0, 0, 0.3490196078);
  padding: var(--padding-block) 4px;
  color: var(--text-light);
  border-radius: var(--border-radius);
  box-shadow: var(--outer-box-shadow);
  white-space: nowrap;
  position: relative;
  text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black;
  padding: 2px 4px;
  font-weight: bold;
  font-size: 1.1em;
}
#pf2e-token-hud .distance {
  gap: 6px;
  z-index: -1;
  width: -moz-fit-content;
  width: fit-content;
}
#pf2e-token-hud .distance.free {
  position: absolute;
  top: var(--outer-padding);
  left: 50%;
  transform: translate(-50%, -100%);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
#pf2e-token-hud .distance:not(.free):not(:last-child) {
  margin: auto;
  border-radius: 4px 4px 0 0;
  pointer-events: none;
}
#pf2e-token-hud .status {
  color: hsl(var(--hue), 75%, 40%);
  font-weight: bold;
  letter-spacing: 0.5px;
}
#pf2e-token-hud .status.free {
  position: absolute;
  top: auto;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 100%);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  z-index: -1;
}
#pf2e-token-hud .status:not(.free) {
  min-width: 7em;
  pointer-events: none;
}
#pf2e-token-hud .inner {
  min-width: 14em;
  max-width: 17em;
}
#pf2e-token-hud .inner i {
  margin-inline: 3px;
}
#pf2e-token-hud .inner .header {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
}
#pf2e-token-hud .inner .group {
  --group-gap: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--group-gap);
  min-height: 1.86em;
}
#pf2e-token-hud .inner .group .section {
  display: flex;
  align-items: center;
  position: relative;
}
#pf2e-token-hud .inner .group .section.info {
  cursor: help;
}
#pf2e-token-hud .inner .group .section.info.disabled {
  cursor: default;
  pointer-events: none;
  color: var(--color-disabled);
}
#pf2e-token-hud .inner .group .section .adjustment {
  font-size: 1.2em;
}
#pf2e-token-hud .inner .group .section input[type=number] {
  color: var(--color);
  text-align: center;
  border: none;
  padding: 0;
  height: 1.4em;
  width: 2ch;
}
#pf2e-token-hud .inner .group .section .numbers {
  display: inline-grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-items: center;
}
#pf2e-token-hud .inner .group .section .numbers input[type=number] {
  width: auto;
}
@-moz-document url-prefix() {
  #pf2e-token-hud .inner .group .section .numbers input[type=number] {
    width: 3ch;
  }
}
#pf2e-token-hud .inner .group .section .pips i {
  font-size: 0.86em;
  margin: 0;
  margin-top: 1px;
}
#pf2e-token-hud .inner .group .section sup {
  position: absolute;
  top: 0px;
  right: -1px;
  transform: translateX(100%);
  font-size: 0.7em;
  font-weight: bold;
}
#pf2e-token-hud .inner .footer {
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#pf2e-token-hud .inner.hazard {
  min-width: 12em;
}
#pf2e-token-hud .inner.hazard .group .section.details {
  margin-left: calc(var(--group-gap) * -1);
}
#pf2e-token-hud .inner.vehicle {
  min-width: 12em;
}
#pf2e-token-hud.observer a:not(.observable):not(.name):not(.content-link) {
  text-shadow: none;
  cursor: default;
}
#pf2e-token-hud.observer .pips {
  cursor: default;
}
#pf2e-token-hud.observer .sidebar .variants .variant {
  cursor: default;
}
#pf2e-token-hud.observer .sidebar .variants .variant:hover {
  box-shadow: none;
}
#pf2e-token-hud.observer .sidebar .item-img.hover {
  cursor: default;
}