#pf2e-token-hud {
    .inner {
        min-width: 14em;
        max-width: 17em;

        i {
            margin-inline: 3px;
        }

        .header {
            text-align: center;
            font-weight: bolder;
            text-transform: uppercase;
        }

        .group {
            --group-gap: 1em;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--group-gap);
            min-height: 1.86em;

            .section {
                display: flex;
                align-items: center;
                position: relative;

                &.info {
                    cursor: help;

                    &.disabled {
                        cursor: default;
                        pointer-events: none;
                        color: var(--color-disabled);
                    }
                }

                .adjustment {
                    font-size: 1.2em;
                }

                input[type='number'] {
                    color: var(--color);
                    text-align: center;
                    border: none;
                    padding: 0;
                    height: 1.4em;
                    width: 2ch;
                }

                .numbers {
                    display: inline-grid;
                    grid-template-columns: 1fr auto 1fr;
                    align-items: center;
                    justify-items: center;

                    input[type='number'] {
                        width: auto;
                    }

                    @-moz-document url-prefix() {
                        input[type='number'] {
                            width: 3ch;
                        }
                    }
                }

                .pips {
                    i {
                        font-size: 0.86em;
                        margin: 0;
                        margin-top: 1px;
                    }
                }

                sup {
                    position: absolute;
                    top: 0px;
                    right: -1px;
                    transform: translateX(100%);
                    font-size: 0.7em;
                    font-weight: bold;
                }
            }
        }

        .footer {
            font-size: 1.1em;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        &.hazard {
            min-width: 12em;

            .group {
                .section {
                    &.details {
                        margin-left: calc(var(--group-gap) * -1);
                    }
                }
            }
        }

        &.vehicle {
            min-width: 12em;
        }
    }
}
