#pf2e-token-hud .popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  min-width: 300px;
  max-width: 700px;
  max-height: calc(100vh - var(--outer-padding) * 2);
  display: flex;
  flex-direction: column;
}
#pf2e-token-hud .popup .header {
  position: relative;
  display: flex;
  color: var(--text-light);
  align-items: center;
  justify-content: space-between;
  margin-bottom: calc(var(--inner-padding) * 2 + 3px);
}
#pf2e-token-hud .popup .header:before {
  content: "";
  z-index: -1;
  position: absolute;
  background: rgba(0, 0, 0, 0.7803921569);
  inset: calc(-1 * var(--inner-padding) - 1px);
  border-radius: var(--inner-border-radius) var(--inner-border-radius) 0 0;
}
#pf2e-token-hud .popup .description {
  overflow-y: auto;
  overflow-x: hidden;
}