#pf2e-token-hud {
    .sidebar.skills {
        --color-rank-0: #424242;
        --color-rank-1: #171f69;
        --color-rank-2: #3c005e;
        --color-rank-3: #664400;
        --color-rank-4: #5e0000;

        .header {
            font-weight: bold;
        }

        .skill .header,
        .lore {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-inline: var(--inline-padding);
            gap: 20px;

            .modifier {
                color: var(--primary);
                cursor: pointer;
            }

            .rank {
                line-height: 1.1;
                font-size: 0.9em;
                padding-inline: 2px;

                &.\30 {
                    color: var(--color-rank-0);
                }

                &.\31 {
                    color: var(--color-rank-1);
                }

                &.\32 {
                    color: var(--color-rank-2);
                }

                &.\33 {
                    color: var(--color-rank-3);
                }

                &.\34 {
                    color: var(--color-rank-4);
                }
            }
        }

        .skill .action .name,
        .lore {
            height: 1.3em;
        }

        .skill,
        .lores {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }

        .skill {
            .action {
                display: flex;
                flex-direction: column;
                padding-inline: var(--inline-padding);

                &:not(:hover) {
                    .name {
                        .end {
                            a {
                                display: none;
                            }
                        }
                    }
                }

                .name {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .end {
                        display: flex;
                        align-items: center;
                        gap: 4px;

                        .trained {
                            font-size: 0.7em;
                            font-weight: bold;
                        }

                        a {
                            i {
                                margin-top: 2px;
                            }

                            &.chat {
                                margin-top: 2px;
                                font-size: 0.9em;
                            }
                        }
                    }
                }
            }
        }

        .lores {
            .header {
                text-align: center;
            }
        }
    }
}
