#pf2e-token-hud .sidebar.spells {
  gap: 4px;
}
#pf2e-token-hud .sidebar.spells .entry .header {
  text-align: center;
}
#pf2e-token-hud .sidebar.spells .entry .spell {
  display: flex;
  height: 2.43em;
  margin-top: 2px;
}
#pf2e-token-hud .sidebar.spells .entry .spell > * {
  z-index: 1;
}
#pf2e-token-hud .sidebar.spells .entry .spell .item-img {
  cursor: pointer;
}
#pf2e-token-hud .sidebar.spells .entry .spell .item-img i {
  display: none;
  position: absolute;
  inset: 0;
  align-items: center;
  justify-content: center;
  background: #c9c3b8;
  border: 1px solid #363636;
  border-radius: 4px;
  font-size: 2em;
}
#pf2e-token-hud .sidebar.spells .entry .spell .item-img:hover i {
  display: flex;
}
#pf2e-token-hud .sidebar.spells .entry .spell .details .name {
  padding-right: 12px;
}
#pf2e-token-hud .sidebar.spells .entry .spell .details .extras {
  gap: 30px;
}
#pf2e-token-hud .sidebar.spells .entry .spell .details .extras .type {
  white-space: nowrap;
  font-size: 0.9em;
}
#pf2e-token-hud .sidebar.spells .entry .spell .details .extras .actions {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #303030;
  font-size: 0.96em;
  height: 100%;
}
#pf2e-token-hud .sidebar.spells .entry .spell .details .extras .actions .uses {
  display: flex;
  align-items: center;
  height: 100%;
}
#pf2e-token-hud .sidebar.spells .entry .spell .details .extras .actions .uses input[type=number] {
  width: 2ch;
}
#pf2e-token-hud .sidebar.spells .entry .spell .details .extras .actions .uses input[type=text] {
  width: 4ch;
}
#pf2e-token-hud .sidebar.spells .entry .spell .details .extras .actions .pips {
  display: flex;
  align-items: center;
  gap: 1px;
  cursor: pointer;
  margin-right: 3px;
}
#pf2e-token-hud .sidebar.spells .entry .spell .details .extras .actions .pips .pip {
  font-size: 0.9em;
  margin-top: 2px;
}
#pf2e-token-hud .sidebar.spells .entry .spell.expended .details .name {
  color: var(--color-disabled);
  text-decoration: line-through;
}
#pf2e-token-hud .sidebar.spells .entry .spell.virtual {
  position: relative;
}
#pf2e-token-hud .sidebar.spells .entry .spell.virtual:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 5, 255, 0.07);
  pointer-events: none;
}
#pf2e-token-hud .sidebar.spells .entry .spell .description {
  display: none;
}